# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA
.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/httpRequests/
.idea/dataSources.xml
.idea/dataSources/
.idea/sqldialects.xml
.idea/project_default.xml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
